.exploreContainer {
    padding: 0 0.5em;
    height: 100%;
    overflow: auto;
    padding-top: 5.2em;
}

.exploreContainer h6 {
    font-size: 0.975em;
    font-weight: 500;
    color: #bbbbbb;
    margin: 1.5em 0 0.5em 0;
}

.showMore {
    display: flex;
    
    align-items: center;
    position: absolute;
    /* bottom: -14px; */
    left: 50%;
    transform: translate(-50%);
    background-color: #f4f4f4  !important;
    border: none !important;
    color: #aaaaaa !important;
    box-shadow: 0px 2px 3px #cccccc;
    font-weight: 500 !important;
}

.showMore span  {
    font-size: 0.775em !important;
    margin-top: 0.4em;
    margin-left: 0.5em;
}

.head img {
    width: 15px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(-50%);
}

.peopleContainer {
    background-color: #ffffff;
    margin: 0 -0.5em;
    padding: 0.5em 0.5em 1.5em 0.5em;
    /* position: relative; */
}

.peopleContainer > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.peopleContainer h5 {
    color: var(--textColor);
    font-size: 1.1em;
    margin-bottom: 0.2em;
    margin-left: 1em;
}

.peopleContainer p {
    color: var(--textColor);
    font-size: 0.9em;
    margin: 0;
    margin-left: 1em;
    display: block;
    width: 173px;
    display: -webkit-box;
    height: fit-content;
    line-height: 1.15;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #aaaaaa;
}

.peopleContainer button {
    background-color: transparent;
    border: 2px solid var(--btnBgColor);
    border-radius: 2em;
    color: skyblue;
    font-weight: 400;
    font-size: 1em;
    padding: 0.1em 1.2em;
}

.peopleContainer img {
    width: 40px;
    border-radius: 1.1em;
}

.conversationCard {
    background-color: #FAF9F6;
    border-radius: 0.5em ;
    padding: 0.5em;
    box-shadow: 0px 2px 3px #aaaa;
}

.conversationCard h6 {
    color: #000;
    font-size: 1em;
    margin: 0;
    display: flex;
    align-items: center;
}

.conversationCard h6 span {
    margin-right: 0.2em;
}

.conversationCard p {
    margin: 0;
    color: #aaaaaa;
    line-height: 1.2;
    font-size: 0.8em;
}

.header {
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    background-color: #f2f0e4;
    z-index: 5;
    padding: 0.5em;
}

.head {
    text-align: center;
    position: relative;
    margin-bottom: 0.5em;
}

.head img {
    width: 15px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.head h3 {
    margin: 0;
    font-size: 1.5em;
}